@tailwind base;
@tailwind components;
@tailwind utilities;



body {
    font-family: 'Roboto', sans-serif;
}

/* //home moving text  */
/* Define keyframes for the animation */
@keyframes highlight {
    0% {
        background-position: 100% 0;
    }

    100% {
        background-position: 0 0;
    }
}

/* Apply styles to the animated text */
.animated-text {
    background: linear-gradient(90deg, #3498db, #e74c3c);
    background-clip: text;
    color: transparent;
    padding: 0.2em 0;
    animation: highlight 3s linear infinite;
}

/* Style the highlighted text differently */
.highlight-text {
    background: linear-gradient(90deg, #e74c3c, #3498db);
    background-clip: text;
    color: transparent;
    display: inline-block;
    padding: 0.2em 0;
    animation: highlight 3s linear infinite reverse;
}

/* //shading effect  */
.shadingEffect {
    text-shadow: 4px 4px 6px rgba(0, 0, 0, 0.5);
}

.hoverEffect::after {
    content: "";
    display: block;
    width: 0%;
    height: 2px;
    background-color: black;
    /* or any other color you prefer */
    margin: auto;
    transition: all 0.7s ease-in-out;
}

.hoverEffect:hover::after {
    width: 50%;
}


.textShopHubParent {
    overflow: hidden;
    height: 30px;
    position: relative;
    width: 500px;
    text-align: center;
}

.textShopHubChild {
    right: 0;
    top: 0;
    animation: mymove 4s linear infinite;
    position: absolute;
}

@keyframes mymove {
    from {
        left: 30%
    }

    to {
        left: -190%
    }
}

/* --background img-- */

.bgImg {
    position: relative;
    z-index: 1;
}

.bgImg::after {
    content: "";
    background: url('../public/Homeimg/bgImg.jpg') no-repeat center center/cover;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    opacity: 0.2;
    border-radius: 20px;

}


/* -----Admin----  */